.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--sec);
}

.info * {
  margin: 0;
  font-size: 12px;
}

.card {
  cursor: pointer;
}

.card img {
  border-radius: 5px;
}
