.content {
  max-width: 60vw;
  margin: 30vh auto;
  animation: fadeIn 0.5s;
}

.content h1 {
  font-size: 3em;
  margin: 0;
}

.content p {
  color: var(--sec);
  margin-bottom: 2em;
}

.socials {
  display: flex;
  gap: 1.5em;
}

.socials svg {
  fill: var(--prim);
  height: 1.5em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
